body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: url('https://files.catbox.moe/g2yf90.jpeg') center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: rgba(0, 0, 0, 0.55);
  padding: 35px;
  border-radius: 14px;
  text-align: center;
  width: 90%;
  max-width: 420px;
  color: white;
  backdrop-filter: blur(6px);
}

h1 {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: bold;
}

.platforms button {
  margin: 6px;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  background: #ffffff33;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.platforms button:hover {
  background: #ffffff66;
}

input {
  width: 95%;
  padding: 11px;
  margin-top: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 15px;
}

#downloadBtn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #9d4edd;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

#downloadBtn:hover {
  background: #c77dff;
}

#status {
  margin-top: 18px;
  font-size: 16px;
}